name: Release Image
on:
    push:
        tags: ["v[0-9]+.[0-9]+.[0-9]+"]

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
            attestations: write
            id-token: write
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4
            - name: Setup JDK 25
              uses: actions/setup-java@v5
              with:
                  java-version: 25
                  distribution: 'temurin'
                  server-id: github-packages
            - name: Make Maven wrapper executable
              run: chmod +x ./mvnw
            - name: Build
              run: ./mvnw clean package -DskipTests
            - name: Capture build artifacts
              uses: actions/upload-artifact@v5
              with:
                  name: app
                  path: target/*.jar
            - name: Log in to the Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract metadata (tags, labels)
              id: meta
              uses: docker/metadata-action@v5
              with:
                  images: ghcr.io/${{github.repository}}

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and push image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  platforms: linux/amd64,linux/arm64
                  push: true
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
